@media (max-width:768px) {
    .icon-section{
        display: flex;
        justify-content: center;
    }
    .main{
        margin-left: 0;
    }
    .nav-link{
        margin-left: 15px;
    }
    .navbar-nav{
        border: 1px gray solid;
        height: 100%;
        margin: 0 15px;
    }
    .offcanvas{
        width: 100% !important;
    }
    .card-bg{
        width: 100%;
    }
    .card-main{
        margin: 0 auto;
    }
    .info-main{
        width: 100%;
    }
    .progress-section{
        width: 100%;
    }
    .introduction-title{
        font-size: 50px;
        text-align: center;
    }
    .introduction-subtitle{
        font-size: 20px;
    }
    .card{
        width: 100% !important;
    }
    .header{
        margin-left: 20px !important;
    }
    .horizontal-line{
        width: 25% !important;
    }
}

@media (max-width:992px) and (min-width:768px) {
    .info-main{
        width: 50%;
    }
    .card-body{
        width: 70%;
    }
}
@media (max-width:1260px) and (min-width:992px) {
    .info-main{
        width: 50%;
    }
}

@media (max-width:600px) {
    body{
        background-size: 100% 100%;
    }
}