@media (max-width:768px) {
    .card-title{
        font-size: 63px;
        text-align: center;
    }
    .card-subtitle{
        font-size: 23px;
        text-align: start;
        margin-left: 15px;
    }
    .icon-section{
        display: flex;
        justify-content: center;
    }
    .main{
        margin-left: 0;
    }
    .nav-link{
        margin-left: 15px;
    }
    .navbar-nav{
        border: 1px gray solid;
        height: 100%;
        margin: 0 15px;
    }
    .offcanvas{
        width: 100% !important;
    }
}
@media (max-width:600px) {
    body{
        background-size: 100% 100%;
    }
}